.footer{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footerImagem{
  width: 70%;
  margin-left: 15%;
  margin-top: 20px;
}

.footerContato{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footerContato p{
  /* background-color: #14A7FF; */
  margin: 0;
  padding: 15px 0 15px;
  text-align: center;
  color: white;
  font-size: 20px;
}

.footerContato-dark p{
  background-color: #14A7FF;
  margin: 0;
  padding: 15px 0 15px;
  text-align: center;
  color: white;
  font-size: 20px;
}

.footerContato-green p{
  background-color: #2B411B;
  margin: 0;
  padding: 15px 0 15px;
  text-align: center;
  color: white;
  font-size: 20px;
}

.footerContato-greenligth p{
  background-color: #02C9A4;
  margin: 0;
  padding: 15px 0 15px;
  text-align: center;
  color: white;
  font-size: 20px;
}